@{
    ViewData["Title"] = "ANASAYFA";
}

<div class="text-center">
    <h1 class="display-4">H.Furkan Koca</h1>
    <h2> ANASAYFA</h2>
    <hr />
</div>

    <h3> Görev 5</h3>

  
    <h3>Task 1</h3>
    <h4>Projenin oluşturulması ve Repo'ya eklenmesi</h4>
    <ul >
       
        <li>Github üzerinde asp net-mvc-blog isminde bir repo oluşturun.</li>
        <li>Repo'yu Github proje sayfasından Clone yaparak bilgisayarınıza indirin.</li>
        <li>Visual Studio için standart olarak kullandığımız [.gitignore](https://raw.githubusercontent.com/github/gitignore/main/VisualStudio.gitignore) dosyasını proje klasöründe ana dizinde .gitignore olarak kaydedin.</li>
        <li>Bilgisayarınıza indirdiğiniz klasör içerisinde Visual Studio ile AspNetMvcBlog isminde bir Solution oluşturun.</li>
        <li>Bu solution içerisinde App.Web.Mvc isminde bir MVC projesi oluşturun.</li>
        <li>Proje dosyalarını Github'a gönderin (push).</li>
    </ul>
    <br />
    <h3>Task 2</h3>
    <h4>Controller ve View dosyalarının oluşturulması</h4>
    <ul>
    <li>Not: Bu task Task 1 tamamlandıktan sonra yapılacaktır.</li>
    <li>Not: Bu task her controller farklı öğrenci tarafından paylaşılarak yapılabilir.</li>
    <li>Projenin son halini Github'dan Clone yaparak bilgisayarınıza indirin.</li>
    <li>Daha önce indirdiyseniz son halini alın (pull).</li>
    </ul>
    <code>git pull</code>
    <p>Proje Çalışma Belgesi içerisindeki projenize ait Route tanımlarına göre Controller dosyalarını, controller action'larını ve sadece sayfa başlığı olacak şekilde View dosyalarını oluşturun.</p>


